* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #000;
    color: #fff;
    overflow-x: hidden;
    animation: fadeIn 0.8s ease;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo img {
    width: 45px;
}

.menu a {
    margin-left: 30px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
}

/* HERO */
.hero {
    display: flex;
    height: 100vh;
    padding: 120px 80px;
}

.hero-text h1 {
    font-size: 120px;
    font-weight: 800;
}

.hero-text h2 {
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.price {
    font-size: 32px;
    margin: 20px 0;
}

.description {
    max-width: 400px;
    font-size: 14px;
    opacity: 0.8;
}

.btn {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 30px;
    background: #333;
    border-radius: 30px;
    text-decoration: none;
    color: white;
}

/* IMAGE */
.shoe {
    width: 480px;
    margin-left: auto;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .shoe {
        margin: 40px auto 0;
        width: 320px;
    }
}
.page {
    padding: 140px 80px;
}

.page h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

.gallery {
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin-top: 40px;
}

.gallery-grid img {
    width: 100%;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.gallery-grid img:hover {
    transform: scale(1.05);
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
    z-index: 9999;
}

.modal img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
}
.modal:target {
    opacity: 1;
    pointer-events: auto;
}


.contact-form {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    border: none;
    border-radius: 6px;
}

.contact-form button {
    padding: 12px;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
}
